

<style>
    .sub-menu {
        display: flex;
        flex-direction: column;
    }

  

    .nav-item a,.nav-item[b-m6gofgph1h] a {
        cursor: pointer;
        color: #a0a0a0;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item .oi {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .inner-nav a{
        padding-left:2rem!important;
        padding-right: 4rem !important;
    }

    .nav-item a:hover, .nav-item a.active, .nav-item[b-m6gofgph1h] a:hover, .nav-item[b-m6gofgph1h] a.active {
        background-color: #eff7f7;
        color: #a0a0a0
    }
</style>
<div class="nav-item px-3">
    <NavLink class="nav-link" data-target="" @onclick="expandSubNavHandle">
        <Icon Type="@(expandSubNav ? "up" : "down")" Class="p-1"/> @Parent
    </NavLink>
    @if (expandSubNav)
    {
        <div class="nav-item px-1 sub-menu inner-nav">
            @foreach (var item in Children)
            {
                <NavLink class="expand-menu" href="@item.Value">
                    <span class="" aria-hidden="true"></span>
                    <span>@item.Key</span>
                </NavLink>
            }
        </div>

    }
</div>
@code {
    private bool expandSubNav=false;

    [Parameter]
    public Dictionary<string,string> Children { get; set; }
    [Parameter]
    public string Parent { get; set; }
    [Parameter]
    public string Icon { get; set; }


    private void expandSubNavHandle()
    {

        expandSubNav = !expandSubNav;
    }
}
